/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(121, 43, 173);
    --color-secondary: black;
    --color-bg: #F5F5F5;
}

body {
    font-family: 'Anonymous Pro', monospace;
}

/* universal */
.btn {
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-family: 'Anonymous Pro', monospace;
}

.btn:hover {
    background-color: var(--color-primary);
    border: 1px solid #fff;
    color: #fff;
}

/* header */
header {
    position: sticky;
    overflow: hidden;
    top: 0;
    padding: 10px 10%;
    background: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 2.5rem;
    font-family: 'Zen Dots', sans-serif;
}

.logo span:last-child {
    color: var(--color-primary);
    font-weight: 900;
}

nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    margin-right: 20px;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 100%;
    background-color: var(--color-primary);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

nav a:hover::before {
    transform: scaleX(1);
}

/* social links */
.social {
    position: fixed;
    width: 72px;
    left: 70px;
    bottom: 60px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    color: var(--color-primary);
}

.social a {
    font-size: 2rem;
    color: var(--color-primary);
    transition: all 0.1s ease-in-out;
}

.social a:hover {
    transform: scale(1.2);
}

/* banner */
.banner-section {
    padding: 0 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-description {
    font-size: 2rem;
    line-height: 50px;
}

.banner-description p {
    font-size: 1.5rem;
}

.banner-description p span {
    font-weight: bold;
    color: var(--color-primary);
}

.name {
    font-size: 68px;
    color: var(--color-primary);
}

.banner-btn {
    transition: all 0.2s ease-in-out;
}

.banner-btn:hover {
    transform: translateY(6px);
}

.banner-img {
    width: 50%;
}

/* about section */
.about-section {
    padding: 180px 10% 0 10%;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-primary);
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.about-container>div {
    width: 30%;
}

.about-container>div p {
    font-size: 1.5rem;
}

.about-container>div p span {
    color: var(--color-primary);
}

.about-container img {
    width: 25%;
}

.about-container img::before {
    content: '';
    background: #D7C0E7;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
}

/* skills section */
.skills-section {
    padding: 140px 10% 0 10%;
}

.skills-section h2 {
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-primary);
}

.skills-container {
    padding-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

.skills-container img {
    width: 10%;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.skills-container img:hover {
    transform: scale(1.2);
}

/* project section */
.projects-section {
    padding: 140px 10% 0 10%;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 80px;
    color: var(--color-primary);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects-container>div {
    width: 75%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    box-shadow: 4px 4px 4px var(--color-primary);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.projects-container>div:hover {
    transform: scale(1.05);
}

.projects-container img {
    width: 100%;
    height: 500px;
    padding-bottom: 8px;
}

/* contact section */

.contact-section {
    padding: 140px 10% 0 10%;
}

.contact-section h2 {
    text-align: center;
    color: var(--color-primary);
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container img {
    width: 50%;
}

.form-container {
    width: 50%;
    height: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D7C0E7;
}

form {
    width: 50%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

form input,
textarea {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    font-family: 'Anonymous Pro', monospace;
}

/* footer */
footer {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}


/* media queries for mobile device */
@media screen and (max-width: 761px) {

    header {
        flex-direction: column;
        position: static;
    }

    nav a {
        display: flex;
        padding-bottom: 10px;
        justify-content: center;
    }

    .social i {
        display: none;
    }

    .banner-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .banner-img {
        width: 100%;
    }

    .skills-container {
        flex-wrap: wrap;
        gap: 46px;
    }
    .about-container{
        flex-direction: column-reverse;
    }

    .about-container>div {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .about-container img {
        width: 75%;
    }

    .skills-container img {
        width: 40%;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
    }

    .projects-container {
        padding: 0;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-container>div {
        width: 100%;
    }

    .projects-container img {
        width: 100%;
        height: 300px;
        padding-bottom: 8px;

    }

    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-container img {
        width: 100%;
    }

    .form-container {
        width: 100%;
        height: 300px;
    }

    .contact-section h2 {
        margin-bottom: 40px;
    }
}